<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.titancore.domain.mapper.PermissionMapper">

    <select id="selectByRoleId" resultType="com.titancore.domain.entity.Permission">
        SELECT p.* FROM permission p
        INNER JOIN role_permission_rel rpr ON p.id = rpr.permission_id
        WHERE rpr.role_id = #{roleId} AND p.is_deleted = 0
    </select>

    <select id="countRoleByPermissionId" resultType="int">
        SELECT COUNT(1) FROM role_permission_rel
        WHERE permission_id = #{permissionId} AND is_deleted = 0
    </select>

</mapper>
